body {
    background-color: lightgray;
    font-family: "Montserrat";
}
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

#creditos {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 10px;
    color: lightgrey;
    background-color: #222222;
}

#redes {
    margin: 20px 0 0 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border-bottom: #DDDDDD solid 1pt;
}

#rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: lightgrey;
}

#conteudo {
    margin-bottom: 70px;
}

.itemDeMenu:hover {
    border-bottom: #ffc107 solid 3px;
}
.itemDeMenu {
    border-bottom: #ffffff solid 3px;
}
