{% extends 'base.html.twig' %}

{% block title %}Hello RaizController!{% endblock %}

{% block body %}
<div style="text-align: center">
    <img src="{{ asset('img/em-construcao.gif') }}" alt="Em construção!"/>
</div>
{% endblock %}
